body {
    background-color: white;
}

/* Rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Tamanho todo da imagem */
#tela {
    width: 100%;
    border-radius: 1em;
    background-color: white;
}