<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Enne Jim Pessoa">
    <meta name="keywords" content="centro, cidadania, lgbt, queer, serviços, órgão, prefeitura, municipal, coordenadoria, oficinas, direitos, acesso, público">
    <meta name="descrition" content="Conheça esse órgão da prefeitura municipal que é voltado à população LGBT+ a fim de promover um acolhimento humanizado e respeitoso">
    <title> Coordenadoria de Promoção a Cidadania LGBT+ e Igualdade Racial </title>
    <link rel="shortcut icon" href="../img/arco-iris.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/joao-pessoa-npm.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Fontes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- JavaScript -->
    <script src="../js/topo.js" defer></script>
</head>
<body>
    <header id="cabecalho" class="jpnpm">
        <a href="javascript: history.go(-1)" rel="prev" class="voltar">
            <span class="material-symbols-outlined sr-only" aria-hidden="true">
                keyboard_backspace
            </span>
        </a>

        <figure class="logo">
            <img src="../img/arco-iris.png" alt="Ícone do site: arco-íris">

            <h1 class="titulo"> Coordenadoria de Promoção a Cidadania LGBT+ e Igualdade Racial </h1>
        </figure>
    </header>

    <main id="conteudo" class="jpnpm">
        <ol id="passos">
            <li class="passo">
                <div class="instrucao">
                    <span id="primeira"> 1 </span>

                    <p>
                        Para agendar um atendimento, <strong>baixe o aplicativo</strong> a seguir ...
                    </p>
                </div>

                <iframe src="frames/tela-de-app-pesquisado-jpnpm.html" frameborder="0" class="img"></iframe>
            </li>

            <li class="passo">
                <div class="instrucao">
                    <p>
                        Na tela inicial, clique em <strong>“categorias”</strong> no canto inferior
                    </p>

                    <span id="segunda"> 2 </span>
                </div>

                <iframe src="frames/tela-inicial.html" frameborder="0" class="img"></iframe>
            </li>

            <li class="passo">
                <div class="instrucao">
                    <span id="terceira"> 3 </span>

                    <p>
                        Na categoria <strong>“Saúde”,</strong> clique em <strong>“LGBT+ e Igualdade Racial”</strong>
                    </p>
                </div>

                <iframe src="frames/tela-de-categorias.html" frameborder="0" class="img"></iframe>
            </li>

            <li class="passo">
                <div class="instrucao">
                    <p>
                        Escolha algum dos <strong>serviços disponíveis</strong> e clique no desejado
                    </p>

                    <span id="quarta"> 4 </span>
                </div>

                <iframe src="frames/tela-de-servicos.html" frameborder="0" class="img"></iframe>
            </li>

            <li class="passo">
                <div class="instrucao">
                    <span id="quinta"> 5 </span>

                    <p>
                        Preencha cada <strong>dado necessário</strong> e clique em <strong>“solicitar”</strong> no final
                    </p>
                </div>

                <iframe src="frames/tela-de-servico-selecionado.html" frameborder="0" class="img"></iframe>
            </li>
        </ol>

        <span class="material-symbols-outlined sr-only" id="topo" aria-hidden="true" aria-label="Volte ao topo da página clicando aqui" tabindex="0">
            shift
        </span>
    </main>
</body>
</html>