@charset "UTF-8";

/* Cabeçalho */
#cabecalho {
    position: relative;
    background-image: linear-gradient(135deg, var(--amarela), var(--laranja));
    color: white;
    padding: 1em;
    padding-top: 1.1em;
}

#cabecalho .voltar {
    position: absolute;
    top: 9%;
    left: 1%;
    border-radius: 50%;
    padding: 1em 1.1em .9em;
    z-index: 1;
}
#cabecalho .voltar:focus-visible,
#cabecalho .voltar:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
#cabecalho .voltar:active {
    background-color: rgba(255, 255, 255, 0.30);
}
#cabecalho .voltar span {
    font-size: 2.5em;
}

#cabecalho .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
}
#cabecalho .logo img {
    width: 4.5vw;
    height: auto;
}
#cabecalho .logo .titulo {
    font: bolder 1.6em var(--titulo);
    width: 50%;
}

/* Conteúdo */
#conteudo {
    background: linear-gradient(180deg, var(--roxa) 0%, var(--verde) 25%, var(--amarela) 50%, var(--laranja) 75%, var(--rosa) 100%);
    padding: 2.5em 20vw;
}

#conteudo #passos {
    display: flex;
    flex-direction: column;
    gap: 10em;
}
#conteudo #passos .passo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5em;
    animation: passo .2s ease-in-out both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}
#conteudo #passos .passo:first-child {
    animation: primeiro-passo .2s ease-in-out both;
    animation-timeline: view();
    animation-range: cover 50% cover 95%;
}
#conteudo #passos .passo:nth-child(even) {
    flex-direction: row-reverse;
}
#conteudo #passos .passo .instrucao {
    display: flex;
    align-items: center;
    gap: 1em;
}
#conteudo #passos .passo .instrucao span {
    background-color: white;
    padding: .3em .5em .2em;
    border-radius: 50%;
    height: min-content;
    width: min-content;
    font-family: var(--titulo);
    font-size: 3em;
}
#conteudo #passos .passo .instrucao span#primeira {
    color: var(--roxa);
}
#conteudo #passos .passo .instrucao span#segunda {
    color: var(--verde);
}
#conteudo #passos .passo .instrucao span#terceira {
    color: var(--amarela);
}
#conteudo #passos .passo .instrucao span#quarta {
    color: var(--laranja);
}
#conteudo #passos .passo .instrucao span#quinta {
    color: var(--rosa);
}
#conteudo #passos .passo .instrucao p {
    font-size: 1.2em;
    line-height: 1.2em;
}
#conteudo #passos .passo .instrucao p:nth-child(odd) {
    text-align: right;
}
#conteudo #passos .passo .img {
    border-radius: 30px;
    /* background: white 50% / cover no-repeat; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    width: 250px;
    height: 90vh;
}
#conteudo #passos .passo .downloads {
    position: absolute;
    top: 30%;
    left: 6%;
    display: flex;
    gap: 1em;
}
#conteudo #passos .passo .downloads a,
#conteudo #passos .passo .downloads a img {
    border-radius: .5em;
}
#conteudo #passos .passo .downloads a:focus-visible img,
#conteudo #passos .passo .downloads a:hover img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.20);
}
#conteudo #passos .passo .downloads a:focus-visible img {
    border: 1px solid white;
}
#conteudo #passos .passo .downloads a:active img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.50);
}

#conteudo #topo {
    position: fixed;
    right: 2%;
    bottom: 6%;
    background-color: var(--amarela);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    color: white;
    border-radius: 50%;
    padding: 1%;
    font-size: 2.5em;
    cursor: pointer;
    transition-duration: .4s;
    z-index: 1;
    animation: fade .5s ease;
}
#conteudo #topo:hover,
#conteudo #topo:focus-visible {
    background-color: var(--laranja);
}
#conteudo #topo:active {
    background-color: white;
    color: var(--amarela);
}
#conteudo #topo:focus-visible {
    outline: auto;
}
