/* Cabeçalho */
#cabecalho {
    background-image: linear-gradient(135deg, var(--amarela), var(--laranja));
    color: white;
    padding: 1.5em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cabecalho .logo {
    display: flex;
    align-items: center;
    gap: 0.6em;
}
#cabecalho .logo img {
    width: 5vw;
    height: auto;
}
#cabecalho .logo .titulo {
    font: bolder 1.6em var(--titulo);
    width: 85%;
}

#cabecalho .icone {
    display: none;
}

#cabecalho .nav ul {
    display: flex;
    gap: 0.5em;
}
#cabecalho .nav ul a {
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 1em;
    padding: 0.5em;
    transition: .4s;
}
#cabecalho .nav ul a:hover,
#cabecalho .nav ul a:focus-visible {
    background-color: white;
    color: var(--amarela);
    padding: 0.5em 1em;
}
#cabecalho .nav ul a:active {
    background-color: var(--amarela);
    color: white;
    transition: .2s;
}

/* Conteúdo */
#conteudo {
    background-color: white;
}
#conteudo #sobre .lugar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../img/espaco-queer.png) no-repeat center fixed;
    background-size: cover;
    animation: fade .5s ease;
    padding: 3em;
    padding-bottom: 5em;
}
#conteudo #sobre .lugar p {
    background-color: #000000d8;
    box-shadow: 1px 1px 5px #00000013;
    padding: .8em 1em;
    border-radius: 1.2em;
    border: 1px dashed white;
    font: 1.2em var(--artistica);
    width: fit-content;
}
#conteudo #sobre .lugar p:nth-child(odd) {
    animation: esquerda 2s ease-out;
    transform: translateX(-150px);
}
#conteudo #sobre .lugar p:nth-child(even) {
    animation: direita 2s ease-out;
    transform: translateX(250px);
}
#conteudo #sobre .lugar .botoes {
    display: flex;
    align-items: center;
    gap: 2em;
    animation: baixo 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 24%;
}
#conteudo #sobre .lugar .botoes a {
    background-color: #000000d8;
    color: var(--amarela);
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1em;
    border: 2px solid var(--amarela);
    border-radius: 2em;
    width: fit-content;
    padding: 0.8em 1em;
    margin-top: 1em;
    animation: btn 1.6s ease-out infinite alternate;
}
#conteudo #sobre .lugar a:hover,
#conteudo #sobre .lugar a:focus-visible {
    background-color: var(--amarela);
    color: white;
}
#conteudo #sobre .lugar a:active {
    background-color: var(--laranja);
    color: white;
    border: 2px solid var(--laranja);
}

#conteudo #sobre .historia {
    display: flex;
    max-height: 100%;
}
#conteudo #sobre .historia .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 3em;
    width: 60vw;
    height: max-content;
    color: var(--roxa);
}
#conteudo #sobre .historia .texto h2 {
    font: bolder 2em var(--titulo);
}
#conteudo #sobre .historia .texto ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 1em;
    list-style: none;
    width: 80%;
    line-height: 1.5em;
}
#conteudo #sobre .historia .texto ul li {
    position: relative;
}
#conteudo #sobre .historia .texto ul li::before {
    content: "💟";
    position: absolute;
    left: -8%;
}
#conteudo #sobre .historia .figura {
    max-width: 40vw;
    overflow: hidden;
}
#conteudo #sobre .historia .figura:hover img,
#conteudo #sobre .historia .figura:hover source {
    transform: scale(1.1);
}
#conteudo #sobre .historia .figura img,
#conteudo #sobre .historia .figura source {
    width: 100%;
    height: 100%;
    transition: .4s ease-out;
}

#conteudo #servicos .horario {
    background-color: var(--verde);
    color: white;
    box-shadow: 1px 1px 5px #00000013;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1.5em;
    font-size: 1.2em;
}
#conteudo #servicos .horario #atributo {
    font-size: 1.1em;
    font-weight: 500;
}

#conteudo #servicos .servicos-proprios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#conteudo #servicos .servicos-proprios h2 {
    background-color: var(--verde);
    color: white;
    box-shadow: 1px 1px 5px #00000013;
    width: max-content;
    text-align: center;
    border-radius: 0 0 2em 2em;
    padding: 0.3em 1em;
    font: bolder 1.5em var(--titulo);
    animation: cima 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 42%;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    width: 80%;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 40%;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card:nth-child(odd) {
    animation: esquerda 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card:nth-child(even) {
    animation: direita 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card .icone {
    background-color: var(--verde);
    box-shadow: 1px 1px 5px #00000013;
    width: max-content;
    font-size: 2.5em;
    padding: 0.2em;
    border-radius: 50%;
    margin-bottom: -20px;
    z-index: 1;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card .texto {
    background-color: var(--verde);
    box-shadow: 1px 1px 5px #00000013;
    padding: 1.5em 1em;
    border-radius: 2em;
    text-align: center;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
#conteudo #servicos .servicos-proprios .lista-de-servicos .card .texto h3,
#conteudo #servicos .servicos-parceiros h2 {
    font-family: var(--titulo);
}

#conteudo #servicos .servicos-parceiros {
    background-color: var(--rosa);
    padding: 2em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
    margin-top: 4em;
    width: 100%;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias {
    display: flex;
    justify-content: center;
    margin: auto 26%;
    gap: 6em;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4em;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card:nth-child(odd) {
    animation: esquerda 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 44%;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card:nth-child(even) {
    animation: direita 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 44%;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card .titulo {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-family: var(--titulo);
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card .titulo h3 {
    transform: translateY(0.14em);
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card .lista-de-servicos {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}
#conteudo #servicos .servicos-parceiros .lista-de-parcerias .card .lista-de-servicos li {
    background-color: white;
    color: var(--rosa);
    box-shadow: 1px 1px 5px #00000013;
    padding: .5em 1em;
    border-radius: 2em;
    min-width: fit-content;
    max-width: max-content;
    line-height: 1.5em;
}

#conteudo #emocionais {
    background: url(../img/fundo-colorido.jpg) no-repeat fixed;
    background-size: cover;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
#conteudo #emocionais p {
    padding: 0.8em 1.2em;
    border: 2px dashed;
    border-radius: 2em;
    width: fit-content;
    text-align: center;
    font: 1.2em var(--artistica);
    box-shadow: 1px 1px 5px #00000013;
    animation: cima 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 44%;
}
#conteudo #emocionais p.rosa {
    background-color: #f2637e80;
    border-color: var(--rosa);
}
#conteudo #emocionais p.roxa {
    background-color: #ad6ad980;
    border-color: var(--roxa);
}
#conteudo #emocionais p.amarela {
    background-color: #f2be5ccc;
    border-color: var(--laranja);
}
#conteudo #emocionais p.verde {
    background-color: #04bf6880;
    border-color: var(--verde);
}
#conteudo #emocionais p:nth-child(odd) {
    transform: translateX(-200px);
}
#conteudo #emocionais p:nth-child(even) {
    transform: translateX(200px);
}

#conteudo #topo {
    position: fixed;
    right: 2%;
    bottom: 6%;
    background-color: var(--amarela);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    color: white;
    border-radius: 50%;
    padding: 1%;
    font-size: 2.5em;
    cursor: pointer;
    transition-duration: .4s;
    z-index: 1;
    animation: fade .5s ease;
}
#conteudo #topo:hover,
#conteudo #topo:focus-visible {
    background-color: var(--laranja);
}
#conteudo #topo:active {
    background-color: white;
    color: var(--amarela);
}
#conteudo #topo:focus-visible {
    outline: auto;
}

/* Rodapé */
#rodape {
    background-color: var(--roxa);
    padding: 2em 3em 6em;
}
#rodape .logo-info-tell {
    display: flex;
}
#rodape,
#rodape .logo-info {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

#rodape .logo {
    display: flex;
    align-items: center;
    gap: 0.6em;
}
#rodape .logo img {
    width: 5vw;
    height: auto;
}
#rodape .logo .titulo {
    font: bolder 1.6em var(--titulo);
    width: 70%;
}

#rodape .info-add {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 50%;
    margin-left: 3%;
}
#rodape .info-add {
    animation: esquerda 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 44%;
}
#rodape .info-add .info h3 {
    font: bolder 1.5em var(--artistica);
    letter-spacing: 0.05em;
}
#rodape .info-add .info ul a {
    display: flex;
    align-items: center;
    gap: 0.3em;
    width: fit-content;
    border-radius: 1em;
    padding: 0.3em;
    line-height: 1.4em;
    transition: .2s ease;
}
#rodape .info-add .info ul a:hover,
#rodape .info-add .info ul a:focus-visible {
    background-color: #ffffff2c;
}
#rodape .info-add .info ul a:active {
    background-color: #ffffff4d;
}

#rodape #contatos {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1em;
}
#rodape #contatos {
    animation: direita 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}
#rodape #contatos .card-tell {
    text-align: end;
    padding: 1em;
    border: 2px solid white;
    border-radius: 1.5em;
    box-shadow: 1px 1px 5px #00000013;
}
#rodape #contatos .card-tell ul a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 0.3em;
    border-radius: 1em;
    padding: 0.3em;
    transition: .2s ease;
}
#rodape #contatos .card-tell ul a:hover,
#rodape #contatos .card-tell ul a:focus-visible {
    background-color: #ffffff2c;
}
#rodape #contatos .card-tell ul a:active {
    background-color: #ffffff4d;
}

#rodape #autorias,
#rodape #autorias .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rodape #autorias {
    gap: 2.5em;
}
#rodape #autorias .titulo hr {
    width: 80vw;
    border: 1.5px solid;
    box-shadow: 2px 2px 2px 2px #00000013;
}
#rodape #autorias .titulo h2 {
    background-color: white;
    color: var(--roxa);
    width: max-content;
    padding: 0.6em 1em .5em;
    border-radius: 0 0 2em 2em;
    box-shadow: 1px 1px 5px #00000013;
    text-align: center;
    font: bolder 1.5em var(--titulo);
    animation: cima 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 48%;
}
#rodape #autorias .quadro-de-links {
    background-color: #ffffff00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    border: 2px dashed white;
    border-radius: 2em;
    width: 50%;
    padding: 0.8em;
    animation: cima 2s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 38%;
}
#rodape #autorias .quadro-de-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#rodape #autorias .quadro-de-links ul a {
    padding: 0.5em;
    border-radius: 1em;
    font: 1.2em var(--artistica);
}
#rodape #autorias .quadro-de-links ul a:hover,
#rodape #autorias .quadro-de-links ul a:focus-visible {
    background-color: #ffffff2c;
}
#rodape #autorias .quadro-de-links ul a:active {
    background-color: #ffffff4d;
}
